body{
	font-family: Arial,sans-serif;
}

.axis{
	width: 200px;
	padding: 10px;
	border:2px solid lightgray;
	border-radius: 5px;
}

#circle{
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: lightblue;
	border-radius: 50%;
}

#mainCircle{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid lightblue;
}


@media screen and (max-width: 480px) {
    #mainCircle{
        margin: 30px auto;
    }
	
  	.axis{
		width: 95%;
	}
}
