@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Mali|Open+Sans|Roboto&display=swap&subset=cyrillic,cyrillic-ext');


html,body{
	font-family: 'Open Sans',sans-serif;
	padding: 0px;
	height: 1000px;
	background: url('../images/wall.jpg') fixed 100%;
	/*background: #0B0B0B;*/
	background-size: cover;
}

#card{
	
	background-color: #353746;
	width: 350px;
	padding: 25px;
	margin: 5px;
	border-radius: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#card h2{
	font-weight: bold;

}

#search-input{
	margin-top: 6px;
	border:1px solid #1b1b1b;
	background: #353746;
	color:white;
}

.navbar a{
	font-family: 'Amatic SC',sans-serif;
	font-weight: bold;
	font-size: 80px;
	margin-top: 50px;
}

.navbar .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    padding: 40px 0;

    background: url("../images/wall-header.png") no-repeat;
    background-position: center -140px;
    box-shadow: inset 0 0 100px #000;
}

.navbar .container a{
	margin: 0;
	border-radius: 10px;

}



button{
	font-family: 'Open Sans',sans-serif;
}

.movies1{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

#movies{
	width: 1080px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-bottom: 55px;
}

#card h2{
	margin-top: 20px;
}

#card img{
	width: 300px;
	border-radius: 5px;
}

/*.jumbotron{
	width: 100%;
}*/

.container{
	width: 100%;
}

body{
	/*transition: 1s;*/
}


.main-head{

	width: 100%;
	height: 400px;

}

.header{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #272431;
	-webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
	        box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;

}

.youtube{
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 998;
}

.youtube iframe{
	position: absolute;
   
    width: 90%;
    height: 90%;
	z-index: 999;
}



html{
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
}



.overview{
  width: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* сколько оставить строк */
  -webkit-box-orient: vertical;
  cursor: pointer;
}

#overtext{
	font-size: 13px;
}


.content{
	width: 100%;
}

.title, .year, .overview, #overtext{
	color: white;
}


.search_area{
	width: 100%;
	margin: 0px;
	position: relative;

}

#search_box{
	width:200px;
	padding:2px;
	margin:1px;
	border:1px solid #000;
}

#search_advice_wrapper{
	display:none;
	width: 100%;
	background-color: #444a69;
	-moz-opacity: 0.95;
	opacity: 0.95;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
	filter:alpha(opacity=95);
	position: absolute;
	bottom: 50px; left: 0px;
	z-index:0;
	
	box-shadow: -2px -1px 2px rgba(0,0,0,0.15), 
	2px -1px 2px rgba(0,0,0,0.15);


}

#search_advice_wrapper .advice_variant{
	cursor: pointer;
	width: 82%;
	margin: 0 auto;
	padding: 5px 5px 5px 5px;
	border-radius: 3px;
	text-align: left;
	color:white;
}
#search_advice_wrapper .advice_variant:hover{
	background-color:#2d2d2d;
	color: white;
}
#search_advice_wrapper .active{
	cursor: pointer;
	padding: 5px;
	color: white;
	background-color:#50BAF4;
}


.container{
	
	animation: leonCon 3s linear;
}


.link {
  
  font-family: 'Amatic SC';
  color: #fff;
  text-decoration: overline;
  font-size: 10.6rem;
  text-align: center;
  line-height: 1;
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px #340038, 0 0 38px rgba(0, 230, 209, 0.49), 0 0 60px #1e84f2;
  
  animation: leon 3s linear;
}


/*-- Animation Keyframes --*/
@keyframes neon {
  0% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(0, 104, 216, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  100% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px #340038, 0 0 38px rgba(0, 230, 209, 0.49), 0 0 60px #1e84f2;
  }
}




@keyframes leon {
  0% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(0, 104, 216, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  	color: white;
  }
  5%{
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(0, 104, 216, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
	color: white;  
  }
  6%{
  	/*text-shadow: 0 0 6px rgba(0, 0, 0, 0.98), 0 0 30px rgba(0, 0, 0, 0.95), 0 0 12px rgb(0, 0, 0), 0 0 22px #340038, 0 0 38px rgba(0, 0, 0, 0.9), 0 0 60px #000000;*/
    text-shadow: none;
    color: black;
  }
  25%{
  	/*text-shadow: 0 0 6px rgba(0, 0, 0, 0.98), 0 0 30px rgba(0, 0, 0, 0.95), 0 0 12px rgb(0, 0, 0), 0 0 22px #340038, 0 0 38px rgba(0, 0, 0, 0.9), 0 0 60px #000000;*/
    text-shadow: none;
    color: black;
  }
  26% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px #340038, 0 0 38px rgba(0, 230, 209, 0.49), 0 0 60px #1e84f2;
	color: white;  
  }
  45% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px #340038, 0 0 38px rgba(0, 230, 209, 0.49), 0 0 60px #1e84f2;
  	color: white;
  }
  48%{
  	/*text-shadow: 0 0 6px rgba(0, 0, 0, 0.98), 0 0 30px rgba(0, 0, 0, 0.95), 0 0 12px rgb(0, 0, 0), 0 0 22px #340038, 0 0 38px rgba(0, 0, 0, 0.9), 0 0 60px #000000;*/
    text-shadow: none;
    color: black;
  }
  50% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px #340038, 0 0 38px rgba(0, 230, 209, 0.49), 0 0 60px #1e84f2;
  	color: white;
  }
  51%{
  	/*text-shadow: 0 0 6px rgba(0, 0, 0, 0.98), 0 0 30px rgba(0, 0, 0, 0.95), 0 0 12px rgb(0, 0, 0), 0 0 22px #340038, 0 0 38px rgba(0, 0, 0, 0.9), 0 0 60px #000000;*/
    text-shadow: none;
    color: black;
  }
  53% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px #340038, 0 0 38px rgba(0, 230, 209, 0.49), 0 0 60px #1e84f2;
  	color: white;
  }
  54%{
  	/*text-shadow: 0 0 6px rgba(0, 0, 0, 0.98), 0 0 30px rgba(0, 0, 0, 0.95), 0 0 12px rgb(0, 0, 0), 0 0 22px #340038, 0 0 38px rgba(0, 0, 0, 0.9), 0 0 60px #000000;*/
    text-shadow: none;
    color: black;
  }
  95%{
  	text-shadow: none;
  	/*text-shadow: 0 0 6px rgba(0, 0, 0, 0.98), 0 0 30px rgba(0, 0, 0, 0.95), 0 0 12px rgb(0, 0, 0), 0 0 22px #340038, 0 0 38px rgba(0, 0, 0, 0.9), 0 0 60px #000000;*/
    color: black;
  }
  100% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px #340038, 0 0 38px rgba(0, 230, 209, 0.49), 0 0 60px #1e84f2;
  	color: white;
  }
}


@keyframes leonCon {
  0% {
    background: url("../images/wall-header.png") no-repeat;
  background-position: center -140px;
  opacity: 0.5;
  }
  5%{
    background: url("../images/wall-header.png") no-repeat;  
  background-position: center -140px;
  	opacity: 0.5;
  }
  6%{
  	background: black;
  background-position: center -140px;
  }
  25%{
  	background: black;
  background-position: center -140px;
  }
  26% {
    background: url("../images/wall-header.png") no-repeat; 
  background-position: center -140px;
  opacity: 0.5;
  }
  45% {
    background: url("../images/wall-header.png") no-repeat ;
  background-position: center -140px;
  }
  48%{
  	background: black;
  background-position: center -140px;
  opacity: 0.5;
  }
  50% {
    background: url("../images/wall-header.png") no-repeat ;
  background-position: center -140px;
  opacity: 1;
  }
  51%{
  	background: black;
  background-position: center -140px;
  }
  53% {
    background: url("../images/wall-header.png") no-repeat ;
  background-position: center -140px;
  }
  54%{
  	background: black;
  background-position: center -140px;
  }
  95%{
  	background: black;
  	background-position: center -140px;
  }
  100% {
    background: url("../images/wall-header.png") no-repeat;
  background-position: center -140px;
  }
}


.link:focus, .link:hover {
  color: #c6e2ff;
  text-decoration: overline;
  text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52), 0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78), 0 0 16px rgba(30, 132, 242, 0.92);
}

@media (max-width: 476px){

	

	.youtube iframe{
		width: 100%;
	   	height: 315px;
	}

	.link{
		text-shadow: none;
		animation: none;
	}
}