html,body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	/*background-color: black;*/
}

.randFilm{
	font-family: Arial,sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: default;
}

.widthPlanc{
	width: 500px;
	height: 50px;
	background-color: white;
}

#blockRandFilm{
	position: relative;
	/*background-color: red;*/
}



#left{
	position: absolute;
	margin-top:-65px;
	transform: translateX(-500px);
	transition: 1s;
	left: 0;
}

#right{
	position: absolute;
	margin-top:-65px;
	transform: translateX(500px);
	transition: 1s;
	right: 0;
}

#leftvert{
	position: absolute;
	width: 3px;
	background-color: black;
	height: 0px;
	right: 0;
	z-index: 2;
	transition: .3s;
}

#rightvert{
	position: absolute;
	width: 3px;
	background-color: black;
	height: 0px;
	left: 0;
	z-index: 2;
	transition: .3s;
}



#search{
	font-size: 18px;
	background: linear-gradient(45deg, rgba(241,35,255,1) 0%, rgba(182,33,255,1) 100%);
	color: white;
	border:none;
	border-radius: 20px;
	padding: 10px 25px 10px 25px;
	cursor: pointer;

}

#randomButt{
	font-size: 18px;
	background: linear-gradient(45deg, rgba(12,204,215,1) 0%, rgba(0,105,238,1) 100%);
	color: white;
	border:none;
	border-radius: 20px;
	padding: 10px 25px 10px 25px;
	cursor: pointer;
	outline: none;
}

.lol{
	margin-top: 50px;
}

#main{
	position: absolute;
	width: 500px;
	margin-top: -10px;
	/*height: 50px;
	background-color: red;*/
}


#leftside{
	position: absolute;
	width: 500px;
	height: 100vh;
	background-color: black;
	z-index: 3;
	transition: 1s;
	
}



#rightside{
	position: absolute;
	width: 500px;
	height: 100vh;
	background-color: black;
	z-index: 3;
	transition: 1s;
}




@media screen and (max-width: 580px) {


	body, html {
	    overflow-x: hidden;
	 }


	#randomFilm{
		white-space: nowrap;
		padding: 0;
		margin: 0;
		text-align: center;
	}


	#noMore{
		text-align: center;
		width: 320px;
		height: 40px;
		/*border:1px solid black;*/
		overflow-x: auto;
	}
}