@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans',Arial,sans-serif;
}


.main{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#greenOrRed{
	font-size: 58px;
	padding: 0;
	margin: 0;
}

#fullYear,#WhatIsDay{
	text-align: center;
	margin: 5px 0 5px 0;
}

#blockWeeks{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

#blockWeeks > table{
	
	
	border-radius:10px;
	min-width: 320px;
	border-collapse:separate;
}

#blockWeeks > table,td,tr{
	border:2px solid black;
	border-color: #dadada;
	text-align: center;
	margin: 0;
	padding: 0;
}




td,tr{
	border-collapse:collapse;
	border-radius:7px;
	height: 40px;
}

#nextWeekButton{
	background:url('right-arrow.svg');
	background-size: 10px;
	background-position: center;
	background-repeat: no-repeat;
}

#blockWeeks select{
	border-color: transparent;
	background: transparent;
	color: white;
	font-size: 16px;
	width: 100%;
	text-align: center;

}

#blockWeeks select:active, #blockWeeks select:hover, #blockWeeks select:focus {
    outline: 0;
    outline-offset: 0;
}

.calls{
	position: absolute;
	width: 320px;
	margin-top: 50px;
	-webkit-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
}

.line{
	width: 100%;
	height: 1px;
	border-radius: 2px;
	background:lightgrey;
}

.textCalls > p{
	height: 45.5px;
	line-height: 45px;
	margin: 0;
	text-align: center;
	width: 268px;
	-webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	border-radius: 7px;
}

.textCalls{
	
	display: none;
	height: auto;
	float: right;
	margin-right: 4px;
	font-size: 16px;
	width: 268px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: white;
	border-radius: 5px;
	-webkit-transform-origin: 0px 0px;
	    -ms-transform-origin: 0px 0px;
	        transform-origin: 0px 0px;
	-webkit-transition: .15s ;
	-o-transition: .15s ;
	transition: .15s ;
	margin-bottom: 40px;
}

#arrow-down{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
	        box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
	z-index: 999;
	bottom: 11px;
	-webkit-transform:translateX(20px);
            transform:translateX(20px);
}

.title{
    position: absolute;
}
